USE [master]
GO
/****** Object:  Database [Hire_Disk]    Script Date: 21.03.2020 1:12:32 ******/
CREATE DATABASE [Hire_Disk]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hire_Disk', FILENAME = N'D:\SQL SERVER\MSSQL14.SQLEXPRESS\MSSQL\DATA\Hire_Disk.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hire_Disk_log', FILENAME = N'D:\SQL SERVER\MSSQL14.SQLEXPRESS\MSSQL\DATA\Hire_Disk_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE Cyrillic_General_CS_AS
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hire_Disk].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hire_Disk]
GO
/****** Object:  Table [dbo].[Disks]    Script Date: 21.03.2020 1:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disks](
	[Id_Disk] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
	[Type] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
	[Price] [decimal](18, 2) NULL,
	[Image] [text] COLLATE Cyrillic_General_CS_AS NULL,
	[Publisher] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
	[Developer] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
	[Category] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
	[Language_Interface] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
	[Language_Voice] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
	[Year_Manufacture] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
	[Info] [nvarchar](1000) COLLATE Cyrillic_General_CS_AS NULL,
 CONSTRAINT [PK_Disks] PRIMARY KEY CLUSTERED 
(
	[Id_Disk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HireDisks]    Script Date: 21.03.2020 1:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HireDisks](
	[Id_HireDisk] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
	[Patronymic] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
	[Mail] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
	[Phone] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
	[DiskName] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
	[Type] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
	[Price] [nvarchar](10) COLLATE Cyrillic_General_CS_AS NULL,
	[NumberCard] [nvarchar](16) COLLATE Cyrillic_General_CS_AS NULL,
	[NumberCode1] [nvarchar](2) COLLATE Cyrillic_General_CS_AS NULL,
	[NumberCode2] [nvarchar](2) COLLATE Cyrillic_General_CS_AS NULL,
	[NumberCode3] [nvarchar](3) COLLATE Cyrillic_General_CS_AS NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[Id_HireDisk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 21.03.2020 1:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[Id_Position] [int] NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
 CONSTRAINT [PK_Positions] PRIMARY KEY CLUSTERED 
(
	[Id_Position] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21.03.2020 1:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id_User] [int] NOT NULL,
	[Login] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
	[Password] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
	[Role] [int] NULL,
	[Surname] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
	[Patronymic] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
	[Email] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
	[Phone] [nvarchar](50) COLLATE Cyrillic_General_CS_AS NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Disks] ON 

SET IDENTITY_INSERT [dbo].[Disks] OFF
INSERT [dbo].[Positions] ([Id_Position], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Positions] ([Id_Position], [Name]) VALUES (2, N'Клиент')
INSERT [dbo].[Users] ([Id_User], [Login], [Password], [Role], [Surname], [Name], [Patronymic], [Email], [Phone]) VALUES (1, N'Pavel', N'Pavel22!', 2, N'Басов', N'Павел', N'Константинович', N'Basov2@mail.ru', N'89207352144')
INSERT [dbo].[Users] ([Id_User], [Login], [Password], [Role], [Surname], [Name], [Patronymic], [Email], [Phone]) VALUES (2, N'Ara', N'Ara2001!', 1, N'Симонян', N'Арен', N'Георгиевич', N'simonyan2@mail.ru', N'89207355632')
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Positions] FOREIGN KEY([Role])
REFERENCES [dbo].[Positions] ([Id_Position])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Positions]
GO
USE [master]
GO
